<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

       <v-card-text>Gallay</v-card-text>
      </div>

      <v-spacer></v-spacer>
      <!-- <router-link to="/"  ><v-btn elevation="2" large>Home</v-btn></router-link> | -->
      <!-- <router-link to="/about"  ><v-btn elevation="2" large>About</v-btn></router-link> | -->
      <router-link to="/login" v-if="!isLogedIn" v-on:successLogin="successLoggedIn"><v-btn elevation="2" large>Login</v-btn></router-link> 
      <!-- <router-link v-if="isLogedIn"><v-btn elevation="2" large>Logout</v-btn></router-link>  -->
      <router-link to="/myimage"  v-if="isLogedIn" ><v-btn elevation="2" large>My Image</v-btn></router-link> 
      <v-btn
      v-if="isLogedIn"
      class="ma-2"
      color="secondary"
      @click="logOut"
    >
      Logout
    </v-btn>
     
    </v-app-bar>

    <v-main>
       <router-view/>
    </v-main>
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',

  data: function () {
    return {
      isLogedIn: false,
    } 
  },
  created: function () {
     console.log('Main app is created');
    const token = window.localStorage.getItem('token');
    if(token){
      this.isLogedIn = true;
    }
  },
  methods: {
    logOut: function () {
      window.localStorage.removeItem('token');
      this.isLogedIn = false;
      this.$router.push('/login')
    },
    successLoggedIn: function () {
      console.log('successfully loign');
      this.isLogedIn = true;
    }
  },

  components: {
    // HelloWorld,
  },

};
</script>
