<template>
<div>


  <v-row>
    <v-col cols="8">
        <v-card-text>Image Gallary</v-card-text>
    </v-col>
     <v-col cols="4">
       <v-btn @click="dialog = true"
      class="mx-12"
      small
      fab
      dark
      color="indigo"
    >
      <v-icon dark>
        mdi-plus
      </v-icon>
    </v-btn>
    </v-col>
  </v-row>
  <v-row>
     
      <v-col v-for="im in imagedata" :key="im.id"
        cols="6"
        sm="4"
      >
         <!-- <v-img
          :src="im.path"
          gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
        ></v-img> -->

          <v-card>
            <v-img
              :src="im.path"
              height="125"
              class="grey darken-4">
              </v-img>
            <v-card-title class="title">
              {{im.title}}
            </v-card-title>
          </v-card> 

      </v-col>

  </v-row>


 <v-row justify="center">
      <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
      >
        <v-card>
          <v-card-title>
            <span class="headline">Download Image</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                >
                  <v-text-field v-model="path" ref="path"
                    label="Put valid link*"
                    required
                  ></v-text-field>
                </v-col>

              </v-row>
            </v-container>
            <small>* indicates required field</small>
            <p style="font-size:10px;color:red">{{massage}}</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              @click="close"
            >
              Close
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click="save"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-row>



</div>
</template>

<script>
 
import axios from 'axios';

export default {
        data: ()=> {
          return {
             dialog: false,
             path: '',
             massage: ''
          }
        },

        created: function () {
            // Echo.private('my-channel').listen('ImageSaveEvent', (e)=> {
            //     console.log(e)
            // })
        },
        methods: {
          save: function () {
            
            if(!this.path || this.path.indexOf('.') < 0) {
              this.massage = 'provide Valid Image';
              console.log( this.massage);
              return;
            }
            this.massage = '';
            console.log('sazzad');
            axios.post('http://127.0.0.1:8000/api/images', {
              path: this.path
              },
               {
        headers: {
            Authorization : 'Bearer '+ window.localStorage.getItem('token'),
        },

    }).then(data=> {
        console.log(data);
        this.dialog = false;
    }).catch(error=>{
        console.log(error);
    })
          },
          close :function() {
            this.dialog = false;
            this.path = '';
            console.log(this.dialog);
          }
        },
        props: ['imagedata']
}
</script>

<style>

</style>