<template>
      <v-layout row class="text-xs-center">
      <v-flex xs3 style="background-image: url('http://cdn.wallpapersafari.com/7/86/gqiGH7.jpg')">
        <v-card height="500px"></v-card>
      </v-flex>
      <v-flex xs4 class="grey lighten-4">
        <v-container style="position: relative;top: 13%;" class="text-xs-center">
          <v-card flat>
            <v-card-title primary-title>
              <h4>Login</h4>
            </v-card-title>
            <v-form>
            <v-text-field  v-model="user.email" label="Email"></v-text-field>
            <v-text-field   v-model="user.password" label="Password" type="password"></v-text-field>
            <v-card-actions>
              <v-btn primary large block n v-on:click="login">Login</v-btn>
            </v-card-actions>
            </v-form>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
</template>

<script>

import axios from 'axios';
export default {
    data: ()=> {
        return {
            user: {
                email: '',
                password: ''
            }
        }
    },
    mounted (){
        // console.log(this);
    },
    methods: {
        login: function() {
           axios.post("http://127.0.0.1:8000/api/login", {email:this.user.email, password: this.user.password})
    .then(data => {
        window.localStorage.setItem('token', data.data.accessToken);
        this.$emit('successLogin');
        console.log('event is emited');
        console.log(this.$parent);
        this.$router.push('/myimage');

    }
    ).catch(error=>{
        console.log(error);
    });
        }
    }
}
</script>

<style>

</style>