<template>
    <div>
    <Imagelist :imagedata="data"></Imagelist>
    </div>
</template>

<script>
 import axios from 'axios';
import Imagelist from '@/components/Myimagelist.vue'
export default {
  name: 'Myimage',
  data: function () {
      return {
          data: []
      }
  },
  created:function() {
    const token = window.localStorage.getItem('token');
    if(!token){
      this.$router.push('/login')
    }
     
    axios.get('http://127.0.0.1:8000/api/images',
    {
        headers: {
            Authorization : 'Bearer '+ window.localStorage.getItem('token'),
        }
    }).then(data=> {
        this.data = data.data
        console.log(data);
    }).catch(error=>{
        console.log(error);
    })
  },
  components: {
    Imagelist
  }
}
</script>

<style>

</style>